name: live

on:
  # 定时运行，例如每天16:00 UTC（即每天凌晨00:00上海时间）
  schedule:
    - cron: '0 */4 * * *'
  # 手动触发
  workflow_dispatch:

jobs:
  run-and-commit:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        
    - name: Install FFmpeg
      run: sudo apt-get update && sudo apt-get install -y ffmpeg 

    - name: Install Dependencies
      run: |
        pip install requests urllib3
        python -m pip install --upgrade pip

    - name: Combination
      run: |
        python htpc/iptv/live/main.py

    - name: IPTV_Update
      run: |
        # CN
        cd htpc/iptv/
        rm -f ./tmp/cn.m3u && wget https://airinf.pages.dev/static/iptv/0451cm.m3u -O ./tmp/cn.m3u
        rm -f ./tmp/021.m3u && wget https://airinf.pages.dev/static/iptv/021cm.m3u -O ./tmp/021.m3u
        cat ./tmp/021.m3u >> ./tmp/cn.m3u
        #rm -f ./tmp/migu.m3u && wget https://raw.githubusercontent.com/develop202/migu_video/refs/heads/main/interface.txt -O ./tmp/migu.m3u
        #sed -i 's/熊猫/地方/g' ./tmp/migu.m3u
        #sed -i 's/综艺/央视/g' ./tmp/migu.m3u
        #sed -i 's/教育/央视/g' ./tmp/migu.m3u
        #sed -i 's/影视/央视/g' ./tmp/migu.m3u
        #sed -i 's/纪实/央视/g' ./tmp/migu.m3u
        #sed -i 's/少儿/地方/g' ./tmp/migu.m3u
        #sed -i 's/新闻/央视/g' ./tmp/migu.m3u
        #cat ./tmp/migu.m3u >> ./tmp/cn.m3u
        rm -f ./tmp/region.m3u && wget https://airinf.pages.dev/static/iptv/region.m3u -O ./tmp/region.m3u
        cat ./tmp/region.m3u >> ./tmp/cn.m3u
        sed -i '/^\s*$/d' ./tmp/cn.m3u
        
        # asia
        rm -f ./tmp/as.m3u && wget https://airinf.pages.dev/static/iptv/asia.m3u -O ./tmp/as.m3u
        #rm -f ./tmp/4gtv-cf.m3u && wget https://airinf.pages.dev/static/iptv/4gtv-cf.m3u -O ./tmp/4gtv-cf.m3u
        #cat ./tmp/4gtv-cf.m3u >> ./tmp/as.m3u
        rm -f ./tmp/ww.m3u && wget https://met.pages.dev/htpc/iptv/live/ipv4/result.m3u -O ./tmp/ww.m3u
        sed -i '/更新时间/d' ./tmp/ww.m3u
        cat ./tmp/ww.m3u >> ./tmp/as.m3u
        sed -i '/^\s*$/d' ./tmp/as.m3u

        # 成人
        rm -f ./tmp/adult.m3u && wget https://airinf.pages.dev/static/iptv/av.m3u -O ./tmp/adult.m3u
        sed -i '/^\s*$/d' ./tmp/adult.m3u

        # 体育
        rm -f ./tmp/sport.m3u && wget https://airinf.pages.dev/static/iptv/sport.m3u -O ./tmp/sport.m3u
        #rm -f ./tmp/sport.m3u && cp sport.m3u ./tmp/sport.m3u
        sed -i -n '/体育/,+1p' ./tmp/sport.m3u
        sed -i '1i #EXTM3U' ./tmp/sport.m3u
        sed -i '/^\s*$/d' ./tmp/sport.m3u

        # 整合源（无成人）
        rm -f iptv.m3u && touch iptv.m3u
        cat ./tmp/sport.m3u >> iptv.m3u
        cat ./tmp/cn.m3u >> iptv.m3u
        cat ./tmp/as.m3u >> iptv.m3u
        sed -i '/#EXTM3U/d' iptv.m3u
        sed -i '1i #EXTM3U' iptv.m3u
        sed -i '/^\s*$/d' iptv.m3u

        # 整合源
        rm -f all.m3u && touch all.m3u
        cat iptv.m3u >> all.m3u
        cat ./tmp/adult.m3u >> all.m3u
        sed -i '/#EXTM3U/d' all.m3u
        sed -i '1i #EXTM3U' all.m3u
        sed -i '/^\s*$/d' all.m3u
        
        # 节目源
        rm -f e.xml && wget https://epg.112114.xyz/pp.xml -O e.xml
        # readme.md
        echo "Auto Update IPTV in ${{ steps.date.outputs.date }} " > README.md

    - name: Commit Results
      run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "更新直播源"
          # git commit *.m3u -m "Add generated file"
          git push --force origin main
